body {
  background-color: #585858;
}
.navbar {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  .container-fluid {
      background-color: #323232;
  }
  
  .navbar .nav-link {
      color: #008DE1 !important;
      font-size:x-large !important;
      margin: 20px;
  }
  
  .banner img {
    width: 100%;
    height: auto;
    display: block;
  }

  .bmw-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 900px;
}

.bmw-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.bmw-item img {
  width: 300px;
  height: auto;
  padding: 10px;
}

.bmw-item p {
  flex: 1;
  font-size: 16px;
  line-height: 1.5;
  color: #008DE1;
}
